name: Selenium Grid Docker Test Execution

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  run-selenium-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker
        run: |
          docker --version
          docker compose version  # Note: no dash

      - name: Build and run containers
        run: |
          docker compose up --build --abort-on-container-exit

      - name: Print test results
        if: always()
        run: |
          if [ -d test-output ]; then
            cat test-output/*.txt || true
          fi

      - name: Upload Extent Report
        uses: actions/upload-artifact@v3
        with:
            name: Extent-Report
            path: test-output/ExtentReport.html